/* Breadcrumbs */
.breadcrumbs {
    padding: 15px 20PX;
    font-size: 14px;
    color: #666;
}

.breadcrumbs a {
    text-decoration: none;
    color: #666;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    font-weight: bold;
    color: #333;
}