:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colori personalizzati */

  /* --primary-color: purple; */
  --primary-color: #E24E29;
  --primary-color-hover: #bd4021;
  /* --tag-color: blue; */
  --tag-color: #4DA167;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #000;
  text-align: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.loading {
  color: #000;
}

/* --- No Results --- */
.noResults {
  text-align: center;
  padding: 4rem 0;
}

.noResultsIcon {
  color: #bdbdbd;
  margin-bottom: 1.5rem;
  height: 5rem;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.noResultsTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.75rem;
}

.noResultsText {
  color: #616161;
  font-size: 1rem;
}


/* Stili per le stelle del rating */
.star {
  color: #ccc;
  /* Colore stelle vuote */
  font-size: 18px;
  /* Dimensione stelle */
  line-height: 1;
  /* Assicura che le stelle siano ben allineate */
  display: inline-block;
}

.star.filled {
  color: #ffc107;
  /* Colore stelle piene (giallo/arancio) */
}

.star.half-filled {
  /* Potresti usare un'icona SVG o un gradiente per la mezza stella */
  color: #ffc107;
  /* O un colore leggermente diverso */
  /* Clip Path per simulare mezza stella, se non hai un'icona specifica */
  clip-path: inset(0 50% 0 0);
  /* Taglia la metà destra della stella */
  display: inline-block;
  /* Necessario per clip-path */
}

/* Stili per i tag (etichette) */
.tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 8px;
  /* Spazio tra i tag */
  margin-bottom: 8px;
  /* Spazio sotto i tag se vanno a capo */
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  /* Impedisce che il testo del tag vada a capo */
}

/* Stili per i bottoni di azione */
.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.action-button-book {
  /* Prenota Tavolo */
  background-color: #e64a19;
  /* Arancione */
  color: #fff;
}

.action-button-book:hover {
  background-color: #d84315;
}

.action-button-details {
  /* Vedi Dettagli */
  background-color: #333;
  /* Nero scuro */
  color: #fff;
}

.action-button-details:hover {
  background-color: #1a1a1a;
}